.nmt { margin-top: 0 !important }
.nmb { margin-bottom: 0 !important }
.nm { margin: 0 !important }
.npt { padding-top: 0 !important }
.npb { padding-bottom: 0 !important }
.np { padding: 0 !important }
.tal { text-align: left }
.tac { text-align: center }
.tar { text-align: right }
.taj { text-align: justify }
.vat { vertical-align: top }
.vam { vertical-align: middle }
.vab { vertical-align: bottom }
.tac table { text-align: left; margin-left: auto; margin-right: auto }
.fl { float: left }
.fr { float: right }
.fli { float: left; margin-left: 1.3em }
.fri { float: right; margin-right: 1.3em }
.tari { text-align: right; padding-right: 1.2em !important }
.tali { text-align: left; padding-right: 1.2em !important }
.clear { clear: both; height: 0; font-size: 1px }
.cleaner { width: 100%; overflow: hidden }
.no-css { display: none }
.invisible { visibility: hidden !important }
.noDisplay { display: none }
.no-border { border: none !important }
.no-bg { background: none !important }
.img-button { border: none !important; margin: 0 !important; background: none !important; padding: 0 !important }
.strong { font-weight: bold !important }
.db { display: block }
.di { display: inline }
.dib { display: inline-block }
.ttu { text-transform: uppercase }
.nowrap { white-space: nowrap }
.acronym { border-bottom: dashed 1px }
.relative { position: relative }
.text-sized { width: 1em; height: 1em }
