/* Resets */
.list-reset,
.list-reset > li {
    padding: 0;
    margin: 0;
}
.list-reset > li {
    list-style-type: none;
}
#filter-form input[type="checkbox"] {
    margin-right: 10px;
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    width: auto;
}
/* // Resets */


/* Global CSS */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
.clearfix:after {
    clear: both; }
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-upper-case {
    text-transform: uppercase;
}
.margin-top {
    margin-top: 3em !important;
}
.unsupported {
    color: #777;
}
.pre {
    white-space: pre;
}
.prevent-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* // Global CSS */


/* Vertical align */
.valign-top-block,
.valign-middle-block {
    display: table;
}
.valign-top-block > .columns,
.valign-middle-block > .columns {
    display: inline-block; padding: 0; vertical-align: middle;
}
.valign-top-block > .columns {
    vertical-align: top;
}
.valign-top-block > .columns,
.valign-top-block > [class*="column"] + [class*="column"]:last-child,
.valign-middle-block > .columns,
.valign-middle-block > [class*="column"] + [class*="column"]:last-child {
    float: none;
}
.valign-top-inline > * {
    vertical-align: top;
}
.valign-middle-inline > * {
    vertical-align: middle;
}
/* // Vertical align */


/* Modal windows */
@media (min-width: 640px) {
    .std-modal-200 {
        min-width: 12.5rem;
    }
    .std-modal-300 {
        min-width: 18.5rem;
    }
    .std-modal-400 {
        min-width: 25rem;
    }
    .std-modal-500,
    .std-modal-600,
    .std-modal-700,
    .std-modal-800,
    .std-modal-900 {
        min-width: 31.25rem;
    }
}
@media (min-width: 1024px) {
    .std-modal-600 {
        min-width: 37.5rem;
    }
    .std-modal-700 {
        min-width: 43.75rem;
    }
    .std-modal-800 {
        min-width: 50rem;
    }
    .std-modal-900 {
        min-width: 56.25rem;
    }
}
@media (max-width: 639px) {
    #modal-in h1 {
        font-size: 2.3em;
    }
    .std-modal .std-table:not(.std-table-checkbox, .no-css) tr,
    .std-modal .std-table:not(.std-table-checkbox, .no-css) td {
        display: block;
    }
    .std-modal .std-table tr {
        margin-bottom: .5em;
    }
    .std-modal .std-table td.text-right {
        padding-bottom: 0;
        text-align: left !important;
    }
    .std-modal .std-table td.text-right p {
        text-align: right;
    }
}
/* // Modal windows */


/* Table grid */
.table-cell-grid {
    display: table;
    width: 100%;
}
.table-cell-grid > div {
    display: table-cell;
    width: 33.3333%;
}
/* /Table grid */


/* Flexbox */
.multi-add {
    display: flex;
    align-items: flex-end;
}
.multi-add-inputs {
    display: flex;
    flex-direction: column;
}
.multi-add-icon {
    padding: 5px 0 5px 5px;
}
/* /Flexbox */


/* Inline Lists */
.list-inline {
    margin: 0;
    padding: 0;
}

.list-inline > li {
    display: inline-block;
    list-style: none;
}
/* Inline Lists */

/* Responsive grid */
@media only screen {
    .small-min {
        width: 2.4375rem;
    }
    .small-1 {
        width: 6.25%; }

    .small-2 {
        width: 12.5%; }

    .small-3 {
        width: 18.75%; }

    .small-4 {
        width: 25%; }

    .small-5 {
        width: 31.25%; }

    .small-6 {
        width: 37.5%; }

    .small-7 {
        width: 43.75%; }

    .small-8 {
        width: 50%; }

    .small-9 {
        width: 56.25%; }

    .small-10 {
        width: 62.5%; }

    .small-11 {
        width: 68.75%; }

    .small-12 {
        width: 75%; }

    .small-13 {
        width: 81.25%; }

    .small-14 {
        width: 87.5%; }

    .small-15 {
        width: 93.75%; }

    .small-16 {
        width: 100%; }

    .small-offset-1 {
        margin-left: 6.25%; } }

@media only screen and (min-width: 40.063em) {
    .medium-1 {
        width: 6.25%; }

    .medium-2 {
        width: 12.5%; }

    .medium-3 {
        width: 18.75%; }

    .medium-4 {
        width: 25%; }

    .medium-5 {
        width: 31.25%; }

    .medium-6 {
        width: 37.5%; }

    .medium-7 {
        width: 43.75%; }

    .medium-8 {
        width: 50%; }

    .medium-9 {
        width: 56.25%; }

    .medium-10 {
        width: 62.5%; }

    .medium-11 {
        width: 68.75%; }

    .medium-12 {
        width: 75%; }

    .medium-13 {
        width: 81.25%; }

    .medium-14 {
        width: 87.5%; }

    .medium-15 {
        width: 93.75%; }

    .medium-16 {
        width: 100%; } }

@media only screen and (min-width: 64.063em) {
    .large-1 {
        width: 6.25%; }

    .large-2 {
        width: 12.5%; }

    .large-3 {
        width: 18.75%; }

    .large-4 {
        width: 25%; }

    .large-5 {
        width: 31.25%; }

    .large-6 {
        width: 37.5%; }

    .large-7 {
        width: 43.75%; }

    .large-8 {
        width: 50%; }

    .large-9 {
        width: 56.25%; }

    .large-10 {
        width: 62.5%; }

    .large-11 {
        width: 68.75%; }

    .large-12 {
        width: 75%; }

    .large-13 {
        width: 81.25%; }

    .large-14 {
        width: 87.5%; }

    .large-15 {
        width: 93.75%; }

    .large-16 {
        width: 100%; } }
/* // Responsive grid */


/* Headers */
.std-header {
    display: block;
    margin-top: 2em;
    margin-bottom: .5em;
    line-height: 1.25;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: #14b1ef;
    position: relative;
}
.std-header span {
    position: relative;
    display: inline-block;
    padding-right: 0.9375rem;
    background-color: #fff;
}
.std-header.text-overflow {
  display: inline-block;
  padding-right: 2px !important;
  overflow: hidden !important;
  max-width: 100%;
  line-height: 1 !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.std-header.std-header-bg {
    padding: .25em 10px;
    background-color: #f7f7f7;
}
h1 {
    font-size: 3.2727em;
}
h2 {
    font-size: 1.9531em;
}
h3 {
    font-size: 1.5625em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
h2.std-header:not(:first-of-type)::before,
h2.std-header-line::before {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 52%;
    width: 100%;
    background-color: #e9e9e9;
}
h2.std-header.std-header-bg::before,
h2.std-header.std-header-none::before {
    display: none;
}
h1.std-header {
    font-weight: 300;
    letter-spacing: -1px;
    margin-top: 0;
    padding: 0.125em 0;
    line-height: 1.25;
}
h1.std-header strong,
#modal-in h1.std-header strong {
    color: #008609;
    font-weight: 300;
    margin-left: 0.3em;
}
h3.std-header {
    color: #000;
}
/* // Headers */


/* Tables */
.std-table {
    width: 100%;
    border-collapse: collapse;
    vertical-align: middle;
    margin-top: 1em;
    margin-bottom: 1em;
}
.std-table th,
.std-table td,
.overview-detail label,
.delivery-note-detail label {
    padding: 0.15625rem 0.5rem;
}
ul.action-price-detail {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}
.overview-detail label,
.delivery-note-detail label,
.action-price-detail label {
    vertical-align: middle;
}
.delivery-note-detail label {
    width: 50%;
    display: inline-block;
    text-align: right;
}
.action-price-detail label.action-price-label {
    display: inline-block;
    width: 16.3%;
    padding: 0.15625rem 0.5rem;
    text-align: right;
}
.std-table .std-table-link td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.std-table input[type="file"] {
     border: 1px solid #cfcfcf;
     padding: .5em 5px;
     background-color: #fff;
 }
.std-table-fixed {
    table-layout: fixed;
}
.std-table-no-border td {
    border-style: none;
}
.std-table-listing input[type="text"]:not([class*=small-]),
.std-table-listing input[type="email"]:not([class*=small-]),
.std-table-listing select:not([class*=small-]) {
    width: 100%;
}
.std-table-listing input[type="text"].date-pick {
    display: inline-block;
    width: calc(100% - 20px);
}
.std-table-listing td {
    color: #484848;
    padding: 1px 15px 5px 0;
}
.std-table-listing .flag-order-wrap {
    margin: -0.75em -1em;
    padding: .875em 1em;
}
.std-table-listing > tbody .flag-order::before {
    padding-bottom: 2px;
}
.std-table-listing th {
    padding: .75em 1em;
    border-width: 1px 1px 3px;
    border-style: solid;
    border-color: #ddd #ddd #14b1ef;
    background-color: #f0f0f0;
    text-align: center;
}
.std-table-listing th.text-left {
    text-align: left;
}
.std-table-listing .stats-border th { border-bottom: 1px solid #ddd; }
.std-table-listing th,
.std-table-listing th a {
    color: #0752c7;
}
.std-table .table-content-upper > td {
    padding-bottom: 0;
}
.std-table .table-content-lower > td {
    padding-top: 0;
}
th span.sorting {
    position: relative;
    top: 3px;
    float: right;
    margin-left: .5em;
    line-height: .3;
}
th.sorting-small {
    white-space: nowrap;
}
th.sorting-small > * {
    white-space: nowrap;
    display: inline-block;
}
th.sorting-small span.sorting {
    float: none;
    top: 0;
}
th span.sorting a {
    position: relative;
    display: block;
    overflow: hidden;
    width: 6px;
    height: 3px;
}
th span.sorting a::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top-color: #999;
    border-bottom-color: #999;
    line-height: 0;
}
th span.sorting a:hover {
    text-decoration: none;
}
th span.sorting a.asc::before {
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
th span.sorting a.desc::before {
    border-top-style: solid;
    border-top-width: 3px;
}
th span.sorting a:hover::before,
th span.sorting a.active::before {
    border-top-color: #f00;
    border-bottom-color: #f00;
}
.std-table-listing td {
    padding: .75em 1em;
    border: 1px solid #e7e7e7;
    background-color: #fff;
}
.std-table-listing .td-orange td {
    border-bottom-color: #f2dc91;
    background-color: #ffefbb;
}
.std-table-listing td a {
    color: #0752c7;
}
.std-table-listing .even td {
    background-color: #f9f9f9;
}
.std-table-listing .highlighted td {
    background-color: #edf3fe;
}
.std-table-listing .important td,

.std-table-listing .action-price td {
    background-color: #ffdbdb;
}
.std-table-listing tfoot td {
    border-color: #ddd;
    background-color: #f5f5f5;
}
.std-table-listing tr.hole-error td {
    background-color: #ffe9e9;
}
.std-table-listing strong {
    color: #0752c7;
}
.std-table-listing strong.green {
    color: #008609;
}
.std-table-listing strong.black {
    color: #000;
}
.std-table-listing strong.yellow {
    color: #edc775;
}
.std-table-listing strong.red,
.std-table-listing span.red strong {
    color: #c20000;
}
.std-table-listing tr .blue {
    color: #0752c7;
}
.std-table-listing tr .green {
    color: #008609;
}

.std-table-listing .action-price td { background-color: #ffdbdb; }
.std-table-listing tfoot td { border-color: #ddd; background-color: #f5f5f5; }
.std-table-listing tr.hole-error td { background-color: #ffe9e9; }

.std-table-listing tr .blue { color: #0752c7 }
.std-table-listing tr .green { color: #008609 }

.std-table-listing tr.hidden td,
.std-table-listing tr.hidden td a,
.std-table-listing tr.hidden strong,
.std-table-listing tr.hidden .blue,
.std-table-listing tr.hidden .green {
    color: #aaa;
    font-style: italic;
}
.std-table-listing tr.attention td {
    font-weight: bold;
}
.std-table-listing tr.selected-row td {
    background: #fff0cf;
    border-color: #fff;
}
.std-table-listing td.paid::after,
.std-table-listing td.unpaid::after,
span.paid::before,
span.unpaid::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.std-table-listing td.paid::after,
.std-table-listing td.unpaid::after {
    float: right;
    margin-left: .5em;
    margin-top: 4px;
}
span.paid::before,
span.unpaid::before {
    margin-right: .5em;
}
.std-table-listing td.paid::after,
span.paid::before {
    background-color: #94cb44;
}
.std-table-listing td.unpaid::after,
span.unpaid::before {
    background-color: #a6a6a6;
}
span.payment-status {
    display: inline-block;
    padding-left: 2em; }
span.paid,
span.unpaid {
    padding-left: .5em;
}
.std-table-listing tr.real-bestseller td {
    font-style: italic;
    color: #777777;
}
.std-table-listing object {
    vertical-align: middle;
}
.std-table-listing .remove-line {
    cursor: pointer;
    border-width: 0;
}
.std-table-listing td.red-bg {
    background-color: #ffd5d5;
}
.std-table-listing tbody td a img {
    padding-right: 2px;
    padding-left: 2px;
    vertical-align: middle;
}
#item-preview .std-table-listing td.td-image {
    padding: 2px;
}
/* // Tables */


/* Filters */
.std-filter {
    position: relative;
    min-height: 28px;
}
.std-mass-action-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
}
/* // Filters */

/* Perex */
.std-perex {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
    background-color: #f2fbff;
    color: #00a1e1;
}
.std-perex-blank {
    background-color: transparent;
    color: #000;
    padding-left: 0;
    padding-right: 0;
}
.std-perex > div:first-child {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
}
.std-perex a {
    font-weight: bold;
}

.std-perex code, p code {
    display: inline;
    padding: 0em 0.2em 0em 0.2em;
    color: #4e4e4e;
}
.std-perex.std-perex-condensed > div:first-child {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.std-perex.std-perex-condensed h2 {
    margin-top: .75em;
}
.std-perex.std-perex-condensed h2:first-child {
    margin-top: 0;
}
.std-perex.std-perex-condensed p {
    margin-bottom: .5em;
}
.std-perex.std-perex-larger p,
.std-perex.std-perex-larger li {
    font-size: 0.8125rem;
}
/* // Perex */


/* Content */
p em {
    color: #008609;
}
/* // Content */


/* Inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea,
select {
    padding: 0.3125rem;
    border: 1px solid #cfcfcf;
    border-radius: 0;
    background-color: #fff;
    color: #000;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
    background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
   outline: 0;
   border-color: #86c2ef !important;
   box-shadow: 0 0 2px #14b1ef;
   background-color: #fefce7 !important;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="number"],
select {
    height: 26px;
    line-height: 1;
}
input[type="text"].input-lg,
input[type="email"].input-lg,
input[type="tel"].input-lg,
input[type="password"].input-lg,
input[type="search"].input-lg,
input[type="number"].input-lg,
select.input-lg {
    height: 50px;
    padding: 5px 18px;
}
input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="tel"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="number"]:disabled,
select:disabled {
    cursor: text;
    background-color: #efefef;
}
input::-webkit-input-placeholder { color: #555; }
input:-moz-placeholder { /* Firefox 18- */color: #555; }
input::-moz-placeholder {  /* Firefox 19+ */color: #555; }
input:-ms-input-placeholder { color: #555; }

textarea {
    line-height: 1.5;
}
select {
    padding-right: 1.5rem;
    background-image: url("../../img/_repo-shared/select-arrow.svg");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select[multiple] {
    height: auto;
}
select::-ms-expand {
    display: none;
}

label.std-control-label,
#filter-form label.std-control-label {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    margin: 2px 0.25rem 2px 0;
    border: 1px solid #cfcfcf;
    cursor: pointer;
}

#filter-form label.std-control-label + label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.std-table-listing label.std-control-label {
    margin: 0;
}

input[type="checkbox"] + label.std-control-label {
    border-radius: 3px;
    background-color: #fff;
    background-image: url("../../img/_repo-shared/checkbox-default.svg");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center center;
}

input[type="radio"] + label.std-control-label {
    border-radius: 50%;
}

input[type="checkbox"]:checked + label.std-control-label,
input[type="radio"]:checked + label.std-control-label,
#filter-form input[type="checkbox"]:checked + label.std-control-label,
#filter-form input[type="radio"]:checked + label.std-control-label {
    border-color: #14b1ef;
}

input[type="checkbox"]:checked + label.std-control-label {
    background-color: #3fa9e6;
    background-image: url("../../img/_repo-shared/checkbox-checked.svg");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center center;
}

input[type="checkbox"]:disabled + label.std-control-label,
input[type="radio"]:disabled + label.std-control-label {
    border-color: #efefef;
    cursor: default;
}
input[type="checkbox"]:disabled + label.std-control-label {
    background-image: url("../../img/_repo-shared/checkbox-disabled.svg");
}

input[type="radio"]:checked + label.std-control-label:before {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    background-color: #14b1ef;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

input[type="checkbox"]:checked:disabled + label.std-control-label,
input[type="radio"]:checked:disabled + label.std-control-label {
    border-color: #a7a7a7;
}

input[type="checkbox"]:checked:disabled + label.std-control-label {
    background-image: url("../../img/_repo-shared/checkbox-checked.svg");
    background-color: #a7a7a7;
}

input[type="radio"]:checked:disabled + label.std-control-label:before {
    background-color: #9d9d9d;
}

input[type="checkbox"][data-label-adjusted="true"],
input[type="radio"][data-label-adjusted="true"],
#filter-form input[type="checkbox"][data-label-adjusted="true"],
#filter-form input[type="radio"][data-label-adjusted="true"] {
    display: block;
    float: left;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="radio"] {
    border-radius: 50%;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    border-color: #14b1ef;
}
input[type="checkbox"]:focus + label.std-control-label,
input[type="radio"]:focus + label.std-control-label {
   box-shadow: 0 0 2px #14b1ef;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type="file"].std-fileinput {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 1;
}
.std-fileinput-button {
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* // Inputs */

/* Validation */
div.validation {
    padding: .5ex 0 1ex;
}
div.validation.validation-success {
    color: #439720;
}
input.validation-success {
    border-color: #439720;
}
div.validation.validation-alert {
    color: #dba634;
}
input.validation-alert {
    border-color: #dba634;
}
div.validation.validation-error {
    color: #c30f18;
}
input.validation-error {
    border-color: #c30f18;
}
/* // Validation */

/* Buttons */
.btn {
    position: relative;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.btn:hover {
    text-decoration: none;
}
.btn-md { padding: 4px 8px }
.btn-lg { padding: 16px 32px }
.btn-min { min-width: 52px; margin: 2px; }
.btn-fullsize { padding-left: 0; padding-right: 0; }

.content-buttons .btn-md {
    padding-top: 7px;
    padding-bottom: 7px;
}

.btn-md.btn-combobox,
.btn-lg.btn-combobox {
    padding-left: 25px;
}

.btn-default,
.btn-action {
    color: #fff !important;
}

.btn-default {
    background-color: #14b1ef;
}

.btn-action {
    background-color: #94cb44;
}

.btn-muted {
    border-color: #e8e8e8;
    background-color: #fff;
    color: #000 !important;
}

.btn-text {
    text-transform: none;
}

.btn-default:hover,
.btn-action:hover,
.btn-muted:hover {
    color: #fff;
}

.btn-default:hover,
.btn-muted:hover {
    background-color: #139fd7;
}

.btn-muted:hover {
    background-color: #139fd7;
    color: #fff !important;
}

.btn-action:hover {
    background-color: #7c9e1e;
}

.btn-muted:hover {
    color: #000;
}

.btn:disabled,
.btn.disabled,
.btn.disabled:hover,
.btn.btn-disabled,
.btn.btn-disabled:hover {
    background-color: #999;
    cursor: default;
    color: #fff !important;
}

.btn.disabled:focus,
.btn.btn-disabled:focus,
.btn:disabled:focus {
    outline: none;
}
.btn.btn-disabled {
    pointer-events: none;
}
/* // Buttons */

/* Tabs */
.ui-tabs-panel > h2:first-child {
    margin-top: 0;
}
.ui-tabs-panel {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.std-tabs {
    margin-bottom: 1em;
}
.std-tabs > ul {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: visible;
}
.std-tabs > ul::after {
    content: '';
    display: table;
    clear: both;
}
.std-tabs > ul::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #ababab;
}
.std-tabs > ul > li {
    position: relative;
    float: left;
    list-style: none;
    white-space: nowrap;
}
.std-tabs > ul > li > a {
    float: left;
    padding: .75rem 3.125rem;
    margin-top: .5rem;
    border: 1px solid #b7b7b7;
    border-left-style: none;
    background-color: #fff;
    color: #484848;
    line-height: 1;
    font-size: .75rem;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}
.connection-manager-tabs > ul > li > a {
    padding: .75rem 0;
}
.std-tabs > ul > li:first-child > a {
    border-left-style: solid;
}
.std-tabs > ul > li > a:hover {
    text-decoration: none;
}
.std-tabs .element-admin-only a,
.std-tabs > ul > li a.inactive {
    color: #a6a6a6;
    font-style: italic;
}
.std-tabs .element-admin-only a:hover,
.std-tabs > ul > li a.inactive:hover {
    color: #fff;
}
.ui-tabs .ui-tabs-hide {
    display: none !important;
}
.std-tabs .ui-state-active > a,
.std-tabs .active > a {
    position: relative;
    top: 1px;
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom-style: none;
    border-right-style: solid;
    border-color: #14b1ef;
    background-color: #14b1ef;
    color: #fff;
}
.std-tabs .dropdown-handler .ui-state-active > a,
.std-tabs .dropdown-handler .active > a {
    border-right-style: none;
}
.std-tabs .ui-state-active > a::after,
.std-tabs .active > a::after {
    z-index: 1;
    position: absolute;
    content: "";
    left: 50%;
    top: 100%;
    margin-left: -7px;
    border: 7px solid rgba(20, 177, 239, 0);
    border-top-color: #14b1ef;
}
.std-tabs > ul > li > a:focus {
    outline: none;
}
.std-tabs .ui-state-active + li > a,
.std-tabs .active + li > a {
    border-left-style: none;
}
.std-tabs-unfilled > .ui-tabs-nav a {
    padding: .625rem 18px;
    background-color: #f7f7f7;
}
.std-tabs-unfilled > .ui-tabs-nav .ui-state-active a {
    background-color: #fff;
    border-color: #b7b7b7;
    color: #484848;
}
.std-tabs-unfilled > .ui-tabs-nav .ui-state-active a::after {
    margin: 0 -1px;
    border-width: 0;
    left: 0;
    top: -1px;
    width: calc(100% + 2px);
    height: .25rem;
    background-color: #84b73b;
}
.std-tabs-unfilled > .ui-tabs-nav .dropdown-handler .ui-state-active a {
    top: 0;
    border-bottom-style: solid;
    color: #84b73b;
}
.std-tabs-unfilled > .ui-tabs-nav .dropdown-handler .ui-state-active a::after {
    display: none;
}
.std-tabs-unfilled > .ui-tabs-nav .ui-state-active > a {
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-top: .25rem;
}
.std-tabs-unfilled > .ui-tabs-nav .dropdown-list .ui-state-active > a {
    margin-top: 0;
    padding-top: .625rem;
    padding-bottom: .625rem;
}
.std-tabs > ul > li > a:hover {
    border-color: #14b1ef;
    background-color: #14b1ef;
    color: #fff;
}
/* // Tabs */


/* Nothing found */
.std-nothing-found {
    font-size: 1.25rem;
    color: #bababa;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
/* // Nothing found */

/* Boxes */
.box {
    position: relative;
    margin-top: 1em;
    padding: 15px;
    border-style: solid;
}
.box:first-child {
    margin-top: 0;
}
.box-default,
.box-transparent {
    border-width: 1px;
}
.box-default {
    border-color: #e9e9e9;
    background-color: #fff;
}
.box-transparent {
    border-color: transparent;
    background-color: transparent;
}
.box-variant-1 {
    border-width: 2px;
    border-color: #14b1ef;
    background-color: #f2fbff;
}
.box-variant-2,
.box-variant-3 {
    border-width: 0;
}
.box-variant-2 {
    background-color: #f3fbfb;
}
.box-variant-3 {
    background-color: #f5f8fa;
}
.box > p:last-child {
    margin-bottom: 0;
}

/* Boxes in left column */
.box h3 {
    margin-top: 0;
    font-size: 1em;
    font-weight: 400;
}
.box-news h3 {
    position: relative;
    font-weight: 700;
}
.box-news p {
    margin-top: 0;
}
.box-list h3 {
    position: relative;
    padding-bottom: .5em;
}
.box-list h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    background-color: #e9e9e9;
    background-clip: padding-box;
}
.box-list h3:last-of-type {
    padding-bottom: 0;
}
.box-list h3:last-of-type::before {
    display: none;
}
.box-news .news-sign {
    float: right;
    margin-left: .5em;
    padding: .5em 3px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #94cb44;
    color: #fff;
}
.box-news .news-date {
    margin-top: 2em;
    margin-bottom: 0;
    font-weight: inherit;
}
.box-news .list-news a {
    color: #757575;
}
.box-news .list-news h3 a {
    color: #000;
}
.box-news .list-news li li {
    padding-left: 0;
    margin-bottom: 0;
}
.box-helpdesk-contact::before {
    content: '\e90b';
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: 'shp';
    font-size: 34px;
    line-height: 1;
}
.box-helpdesk-contact ul + p {
    margin-top: 2em;
}
.box-helpdesk-contact ul li:first-child {
    margin-top: 2em;
    margin-bottom: .5em;
}
.box-helpdesk-contact ul li:last-child {
    font-size: 18px;
}
/* // Boxes */

.std-table-link .tooltip-icon {
    vertical-align: top;
}
.icon-visibility-before::before,
.icon-visibility-after::after {
    content: "";
    display: inline-block;
    width: 19px;
    height: 8px;
    vertical-align: middle;
    background-image: url("../../img/_repo-shared/select.png");
    background-repeat: no-repeat;
    padding-right: 1rem;
    background-position: right center;
    margin-left: 15px;
}
.expanded-js .icon-visibility-before::before,
.expanded-js .icon-visibility-after::after,
.expanded-js.icon-visibility-before::before,
.expanded-js.icon-visibility-after::after {
    background-position: 30% center;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

/* Disabled elements */
.disabled-row td,
div.disabled-section {
    position: relative;
}
.disabled-row td::before,
div.disabled-section::before {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.85);
}
div.disabled-section.with-annotation {
    min-height: 300px;
}
.disabled-annotation {
    z-index: 3;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    font-size: 13px;
    text-align: center;
    color: #888;
}
.disabled-annotation span {
    display: block;
    margin-bottom: .6em;
    font-size: 24px;
    color: #b3b3b3;
}
.disabled-annotation + h2 {
    margin-top: 0;
}
/* // Disabled elements */

/* Suggestor */
#suggestor.suggestor-wrap {
    position: static;
    border: 0;
}
.suggestor-single {
    display: flex;
    margin: 1px 0;
    padding: 10px 4px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
}
.suggestor-wrap .suggestor-single:nth-child(even) {
    background-color: #f8f8f8;
}
.suggestor-single span {
    flex: 1 1 0;
    padding: 4px;
}
/* // Suggestor */

/* PlUpload */
.moxie-shim, .moxie-shim input {
    cursor: pointer;
}
/* // PlUpload */
